@import "~antd/dist/antd.css";

.bubbleContainer {
  height: 100%;
}

.bubbleInfo {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.bubbleInfoCard {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px solid #eff2f8;
  margin: 2px;
  border-radius: 5px;
}

.bubbleMain .leftSide .filter {
  width: 100%;
  display: flex;
  border: 2px solid #eff2f8;
  margin: 2px;
  border-radius: 5px;
  height: fit-content;
  flex-direction: column;
  padding: 15px 0;
}

.bubbleMain .leftSide .filter .filterContent {
  display: flex;
  margin: 0 10px;
  height: 100%;
  flex-direction: column;
}

.bubbleMain .chart {
  width: 75%;
  margin: 0 5px;
}

.bubbleContainer label {
  margin: 25px 0 2px 0;
}

.bubbleMain .chart .bubbleChart {
  text-align: center;
  height: calc(100% - 80px);
}

.bubbleInfoCard > label:first-child {
  font-size: xx-large;
  margin: 0;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.bubbleMain .chart .footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 75%;
  height: 80px;
}

.dotContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.bubbleMain .leftSide {
  width: 25%;
}

.controller {
  display: block;
  width: 100%;
  border: 2px solid #eff2f8;
  margin: 2px;
  border-radius: 5px;
  height: fit-content;
  padding: 15px 10px;
}

.updown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBtn {
  margin-left: 48px;
}

.resetDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.spinDiv {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubbleMain {
  display: flex;
  flex-direction: row;
  height: calc(100% - 104px);
}

.footer .section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.footer .section .slider {
  margin: 0 50px;
  width: 100%;
}
